# --- Required ---
BOT_TOKEN=8630930981:AAHYj9xM1FiIR4VbOjXHE3KMHhqMwbVvrfI
CHANNEL=@Telgram_proxy963

# --- Optional (defaults shown) ---
INTERVAL_MIN=5
MAX_POST=6
# Public channel usernames to scrape (comma separated, no @)
SOURCE_CHANNELS=iRoProxy,ProxyMTProto,MTProxyT,iporoxy1
# Proxy API urls (comma separated)
SOURCE_APIS=https://mtpro.xyz/api/?type=mtproto
